<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Trial 1</title>

</head>

<body>
 <div>
	<h1>///PREDICT///</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="test" placeholder="testinput" required="required" />
<!--      <input type="text" name="sales in first month" placeholder="sales in first month" required="required" />
      <input type="text" name="sales in second month" placeholder="sales in second month" required="required" />
-->
      <button type="submit">SUBMIT</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
